$section-width: 18%;

.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: $section-width;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: $section-width;
  }

  .quantity {
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    transition: 300ms ease all;
    .arrow {
      color: gray;
      cursor: pointer;
      margin: 0 10px;
      transition: 300ms ease all;

      &:hover {
        transform: scale(1.1);
        color: black;
        font-weight: bolder;
      }
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
    transition: 300ms ease all;
    font-weight: bolder;

    &:hover {
      transform: scale(1.1);
      color: red;
    }
  }
}
